<o-form-layout-manager attr="PreferenceCategory" mode="dialog" title="PREFERENCECATEGORY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PreferenceCategoryTable" 
            service="PreferenceCategory" 
            entity="PreferenceCategory" 
            title="PREFERENCECATEGORY"
            keys="id"
            columns="category_name;id" 
            header-actions="R;D"
            visible-columns="category_name;id"  
            sort-columns="category_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #category_name attr="category_name" title=" category_name*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>