<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Business_form_edit" 
        service="Business" 
        entity="Business" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #address attr="address" label="address" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #zip_code attr="zip_code" label="zip_code" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #category attr="category" label="category" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="BUSINESSINSIGHT-business_id">
    <div layout-padding>
      <o-table 
        attr="BusinessInsightTable" 
        service="BusinessInsight" 
        entity="BusinessInsight" 
        keys="id"
        parent-keys="business_id:id"
        columns="id;business_id;insight_id"  
        horizontal-scroll="yes"
        detail-form-route="BusinessInsight" 
        edit-form-route="BusinessInsight"
        visible-columns="id;business_id;insight_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="business_id" title="business_id">
    <o-table-cell-renderer-service attr="business_id" 
        service="Business" entity="BusinessType" columns="id;name"
        parent-keys="id:business_id"
        value-column="name" keys="business_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="insight_id" title="insight_id">
    <o-table-cell-renderer-service attr="insight_id" 
        service="Insight" entity="InsightType" columns="id;id"
        parent-keys="id:insight_id"
        value-column="id" keys="insight_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>